.reg{
    margin-top:10px;
}
@media (min-width:1200px){
    .reg{
        margin-top:0px;
    }


}


sup{
    font-size: 14px;
    padding: 0;
    border: 0;
}
@media (min-width: 768px){

    sup{
        font-size: 32px;
        padding: 0;
        border: 0;
    }
}
.controls{
    width:65px;
    display:block;
    font-size:20px;
    padding-top:8px;
    font-weight:bold;
}
.next {
    float:right;
    text-align:right;
}

.mo{
   height: auto;

    background-color: #5bc0de;
}

.first{
    padding: 10px;
    margin: 0;
    height: auto;
}


#gallery ul li{
    padding: 20px;
    margin: 0;
    border: 0;
    height: auto;
    list-style: none;
    display:inline-block;
}

#goreg:hover{
    box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) ;
}



#goreg{
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
}
#linkreg{
    color: red;
}


.dropdownthis li{
    margin-left: -14px;
    padding-bottom:4px ;
}
.dropdownthis a{
    text-decoration: none;
}